.main-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.banner-container {
    display: flex;
    flex-direction: row;
    background-image: url("../../assets/homepagebanner.png");
    background-size: 100%;
}

.banner-components {
    margin-left: 20px;
}

.vertical-line{
    margin-top: 15px;
    margin-left: 20px;
    width: 3px;
    background-color: darkgrey;
    float: left;
    height: 90px;
}

table, td, th {
    border: 1px solid;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}